.header{
    height: 88px;
    position: fixed;
    z-index: 2;
    width: 100vw;
    box-sizing: border-box;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    // padding: 0 16px;
    align-items: center;
    font-weight: 500;
    line-height: 20px;

    &__wrapper{
        max-width: 700px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__contacts-wrapper{
        align-items: center;
    }

    &__phone{
        margin-right: 40px;
        text-decoration: none;
        color: rgba(136, 136, 136, 1);

        svg{
            display: none;
        }
    }

    &__mail{
        text-decoration: none;
        color: rgba(136, 136, 136, 1);

        svg{
            display: none;
        }
    }

    &__mail-icon{
        visibility: hidden;
    }

    &__phone-icon{
        visibility: hidden;
    }
}

.filter{
    height: 132px;
    gap: 20px;
    box-sizing: border-box;
    background: #F6F9FF;
    position: sticky;
    top: 88px;
    display: flex;
    justify-content: center;

    &__wrapper{
        display: flex;
        max-width: 1160px;
        width: 100%;
        align-items: center;
    }

    &__gap{
        position: absolute;
        left: 25.83%;
        right: 25.83%;
        top: 50%;
        bottom: 50%;
    
        border: 2px solid #888888;
        
        background: #F6F9FF;
    }

    &__author{
        width: 335px;
        margin-right: 20px !important;
        background: #FFFFFF;
        border-radius: 10px;
    }

    &__date-wrapper>div{
            align-items: center;
        }

}

.main{
    background: #F6F9FF;
    position: relative;
    top: 88px;
    padding-bottom: 60px;

    &__card-grid{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

.footer{
    height: 228px;
    position: relative;
    top: 88px;
    background: #011846;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 48px 16px;

    &__logo-and-links-wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__links{
        display: flex;
        align-items: center;
        gap: 48px;
        font-weight: 500;
        line-height: 20px;
    }

    &__сopyright-and-icons-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__сopyright{
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        line-height: 20px;
    }

    &__icons{
        display: flex;
        align-items: center;
        gap: 20px;
    }

}

.link-decoration-remover{
    text-decoration: none;
    color: #FFFFFF;
}


@media (min-width: 1280px){
    .header{
        &__wrapper{
            max-width: 1200px;
        }
    }
    .footer{
        padding: 48px 138px;
    }
}

@media (min-width: 768px) and (max-width: 1279.9px){
    .header{
        &_wrapper{
            max-width: 700px;
        }
    }

    .filter__wrapper{
        justify-content: flex-start;
        margin: 0 16px;
    }
}

@media (max-width: 767.9px){
    .header{
        height: 55px;

        &__wrapper{
            padding: 0 16px;
        }
    
        &__mail-text{
            display: none;
        }
        &__phone-text{
            display: none;
        }
        &__mail-icon{
            visibility: visible;
        }
        &__phone-icon{
            visibility: visible;
        }

        &__contacts-wrapper{
            display: flex;
            width: 60px;
            justify-content: space-between;
        }

        &__phone{
            width: 22px;
            height: 22px;
            margin-right: 0px;
            svg{
                display: block;
            }
        }
        &__mail{
            width: 22px;
            height: 22px;
            svg{
                display: block;
            }
        }

    }
    .main{
        top: 55px;
    }

    .filter{
        height: 180px;

        &__wrapper{
            margin: 16px;
            flex-direction: column;
            justify-content: center;

            &__author{
                width: 100%;
            }
        }

        &__author{
            margin: 0 0 16px 0 !important;
            width: 100%;
        }
        &__date{
            width: 50%;
            >div{
                width: 100%;
            }
        }
        &__date-wrapper{
            width: 100%;
            >div{
                width: 100%;
                align-items: center;
            }
        }

    }
    
    .footer{
        gap: 32px;

        &__logo-and-links-wrapper{
            flex-direction: column;
            gap: 32px;
        }

        &__сopyright-and-icons-wrapper{
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        &__сopyright{
            order: 2;
        }
    }

}

@media (min-width: 480px) and (max-width: 767.9px){
    .footer__links{
        gap: 30px;
    }
}

@media (min-width: 320px) and (max-width: 479.9px){
    

    .footer__links{
        flex-wrap: wrap;
        gap: 16px;
    }

    .footer__links>a{
        flex: 1 1 40%;
    }

}